#can {
  position: absolute;
  background-color: antiquewhite;
}

#drawCan {
  position: absolute;
  z-index: 1;
  /* background-color: black; */
}

#particle-canvas {
  position: absolute;
  /* background-color: black; */
}

#eraser img {
  margin: -25%;
  width: 155%;
}

.pencil-cursor {
  cursor: url(./assets/pencil.png) 0 32, auto !important;
}

.eraser-cursor {
  cursor: url(./assets/eraser.png) 16 16, auto !important;
}

.color-pallete-heading {
  color: black;
  position: absolute;
  bottom: 100px;
  left: 50%;
  translate: -50% 0;
}
.color-pallete-container {
  z-index: 100;

  position: absolute;
  bottom: 10px;
  left: 50%;
  translate: -50% 0;
  background-color: purple;
  width: 500px;
  height: 90px;
  border-radius: 25px;
}
.color-pallete-row {
  display: flex;
  gap: 30px;
  color: black;
  width: 100%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.color-pallete-row div {
  width: 20px;
  height: 20px;
  border: 2px solid white;
}

.clear-button {
  position: absolute;
  top: 10px;
  left: 10px;
}
